.card-group {
  /* height: 96vh; */
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

@media (min-width: 980px) { /* 980px */
  .card-group {
    height: 96vh;
  }
}
